@media (max-width:768px){
    header{
        display: flex;
        flex-direction: column;
        .container-header-navbar{
            justify-content: center;
            a{
                width: 80px;
                height: 100px;
            }
            .navbar{
                ul{
                    font-size: 15px;
                    gap: 10px;
                }
            }
        }
    }   
    body{
        display: grid;
        grid-template-columns: 1fr;
        main{
            justify-content: center;
            .contenido-principal{
                div{
                    h1{
                        @include h2('Heebo',35px,#fff,center,center);
                    }
                }
            }
        }
    }   
}