@media (max-widt:1024px){
    header{
        flex-direction: column;
        .container-header-navbar{
            width: 100%;
            .navbar{
                width: 100%;
                ul{
                    justify-self: center;
                    gap: 20px;
                }
            }
        }
    }
    .section-container{
        .fotos-redes-main{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
    } 
    
}
