@media (max-width:768px){
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .container-header-navbar{
        width: 100%;
        padding: 5px 10px;
    }
    header div a{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
    }
    .navbar ul{
        justify-self: center;
        font-size: 10px;
        gap: 30px;
    }
    .hora-header{
        font-size: 14px;
    }
    .titulo-index h1{
        font-size: 25px;
    }
    .section-container{
        width: 100%;
        margin-left: 0;
        padding: 5px;
    }
    .fotos-section3{
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr)
    }
    .fotos-section3 a{
        justify-self: center;
    }
    .container-footer h2{
        font-size: 20px;
    }
    .container-footer div{
        font-size: 14px
    }
    div div img{
        width: 20px;
    }
    .image-mail{
        width: 20px;
    }
    .image-wsp{
        width: 20px;
    }
    .container-main-tcn section{
        width: 600px;
        padding: 40px;
    }
    .container-main-tcn{
        padding: 80px;
    }
    .titulo-contactanos h1{
        font-size: 25px;
    }
    .row div label{
        font-size: 16px;
    }
    form div input{
        width: 40px;
        height: 35px;
        font-size: 10px;
    }
    form div select{
        width: 60px;
        height: 35px;
    }
}