header{ 
    display: grid;
    background: linear-gradient(180deg, #193C88 50%, #000000 100%);
    width: 100%;
    .hora-header{
        @include flex(row,center,center,8px);
        display: flex;
        color: #FFF;
        padding: 10px 40px;
        font-family: 'Barlow', sans-serif;
        img{
            width: 25px;
            height: 25px;
        }
    }
    .container-header-navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Barlow', sans-serif;
        font-size: 19px;
        padding: 10px 60px;
        a{
            display: flex;
            align-self: center;
            height: 150px;
            width: 80px;
        }
    }
    .navbar{
        ul{
            display: flex;
            list-style: none;
            gap: 85px;
            li{
                a{
                    color: white;
                    text-decoration: none;
                    align-items: end;
                    width: 100px;
                }
                :hover{
                    color: lightcyan;
                    font-size: 25px;
                }
            }
        }
    }

}