header{ 
    display: grid;
    background: linear-gradient(180deg, #193C88 50%, #000000 100%);
    width: 100%;
    .hora-header{
        @include flex(row,center,center,8px);
        display: flex;
        color: #FFF;
        padding: 10px 40px;
        font-family: 'Barlow', sans-serif;
        img{
            width: 25px;
            height: 25px;
        }
    }
    .container-header-navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-family: 'Barlow', sans-serif;
        font-size: 20px;
        padding: 20px;
        a{
            display: flex;
            align-self: center;
            height: 140px;
            width: 150px;
        }
    }
    .navbar{
        ul{
            display: flex;
            list-style: none;
            gap: 40px;
            padding: 15px;
            li{
                a{
                    justify-content: center;
                    color: white;
                    text-decoration: none;
                    align-items: end;
                    width: 150px;
                    height: 100px;
                }
                :hover{
                    color: lightcyan;
                    font-size: 22px;
                }
            }
        }
    }

}